{% load static %}
<footer class="text-black pt-5 pb-4 bg-center bg-cover bg-no-repeat" style="background-image: url('{% static 'Home/footerbackground.jpg' %}'); image-rendering: auto;background-size: cover;
  background-position: center;
  background-repeat: no-repeat; min-height: 400px;">

        <div class="container text-md-left">
            <div class="row text-md-left">

                <!-- Branches -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class="mb-3">Branches</h6>
                    <ul class="list-unstyled">
                        <li>Andhra Pradesh</li>
                        <li>Karnataka</li>
                        <li>Kerala</li>
                        <li>Maharashtra</li>
                        <li>New Delhi</li>
                        <li>Tamil Nadu</li>
                        <li>Telangana</li>
                        <li>Uttar Pradesh</li>
                        <li>Uttarakhand</li>
                    </ul>
                </div>

                <!-- Affiliate Institutions -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class=" mb-3">Affiliate Institutions</h6>
                    <ul class="list-unstyled">
                        <li>Tattvaloka</li>
                        <li>Vidyatheertha Foundation</li>
                        <li>SVBF (USA)</li>
                        <li>SVBF (Canada)</li>
                    </ul>
                </div>

                <!-- Activities & External Links -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class=" mb-3">Activities</h6>
                    <ul class="list-unstyled">
                        <li>Educational Activities</li>
                        <li>Social Activities</li>
                    </ul>
                    <h6 class=" mt-4 mb-3">External Links</h6>
                    <ul class="list-unstyled">
                        <li>Surasaraswathi Sabha</li>
                        <li>Advaita Sharada</li>
                        <li>Vijaya Yatra</li>
                        <li>Online Book Store</li>
                    </ul>
                </div>

                <!-- Contact -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class=" mb-3">Contact</h6>
                    <p>The Administrator,<br>
                        Sringeri Math and its Properties,<br>
                        Sringeri, Chikkamagaluru District,<br>
                        Karnataka - 577139</p>
                    <p><strong>Phone:</strong></p>
                    <p>+91-08265-252525<br>+91-8265-262626<br>+91-8265-272727</p>
                    <p><strong>Email:</strong><br>adminoffice@sringeri.net</p>
                </div>

            </div>
        </div>

        <div class="text-center pt-3 border-top mt-4">
            <p class="mb-0">© 2025 Sringeri Math. All Rights Reserved.</p>
        </div>
    </footer>