{% load static %}
<footer class="text-black pt-5 pb-4 bg-center bg-cover bg-no-repeat" style="background-image: url('{% static 'Home/footerbackground.jpg' %}'); image-rendering: auto;background-size: cover;
  background-position: center;
  background-repeat: no-repeat; min-height: 400px;">

    <div class="container text-md-left">
        <div class="row text-md-left">
            <!-- Brand Logo + Text -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <img src="{% static 'images/logo.jpg' %}" alt="Brand Logo" class="mb-3" style="max-width: 120px;">
                <p>
                    Shree BodhGaya Math is dedicated to spreading knowledge, culture,
                    and spirituality to people across the world.
                </p>
            </div>

            <!-- Branches -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="mb-3">Branches</h6>
                <ul class="list-unstyled">
                    {% for b in all_branches %}
                    <a href="{% url 'Home:branch_detail' b.slug %}" class="text-decoration-none text-dark">
                        <li>{{b.name}}</li>
                    </a>

                    {% endfor %}
                </ul>
            </div>

            



            <!--Online Services -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class=" mb-3">Online Services</h6>
                <ul class="list-unstyled">
                    <a href="{% url 'Home:donate' %}" class="text-decoration-none text-dark">
                        <li>Donate</li>
                    </a>
                    <a href="{% url 'Home:puja_booking' %}" class="text-decoration-none text-dark">
                        <li>Puja Booking</li>
                    </a>
                    <a href="{% url 'Home:epass' %}" class="text-decoration-none text-dark">
                        <li>E-Pass</li>
                    </a>
                </ul>
            </div>

            <!-- links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="mb-3">Links</h6>
                <ul class="list-unstyled">
                    <a href="{% url 'Home:about' %}" class="text-decoration-none text-dark">
                        <li>About Us</li>
                    </a>
                    <a href="{% url 'Home:contact' %}" class="text-decoration-none text-dark">
                        <li>Contact Us</li>
                    </a>
                    <a href="{% url 'Home:events' %}" class="text-decoration-none text-dark">
                        <li>Events</li>
                    </a>
                </ul>
            </div>

            <!-- Activities & External Links -->
            <!-- <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                    <h6 class=" mb-3">Activities</h6>
                    <ul class="list-unstyled">
                        <li>Educational Activities</li>
                        <li>Social Activities</li>
                    </ul>
                    <h6 class=" mt-4 mb-3">External Links</h6>
                    <ul class="list-unstyled">
                        <li>Surasaraswathi Sabha</li>
                        <li>Advaita Sharada</li>
                        <li>Vijaya Yatra</li>
                        <li>Online Book Store</li>
                    </ul>
                </div> -->

            <!-- Contact -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                <h6 class=" mb-3">Contact</h6>
                <p>Shree BodhGaya Math, Bodhgaya, Gaya, Bihar, 824231, India</p>
                <p><strong>Phone:</strong></p>
                <p>+91-9302104696</p>
                <p><strong>Email:</strong><br>shreebodhgayamath@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="text-center pt-3 border-top mt-4">
        <p class="mb-0">© 2025 Shree BodhGaya Math. All Rights Reserved.</p>
    </div>
</footer>