<!-- announcements.html -->
{% extends 'html/base.html' %}
{% load static %}

{% block title %}Announcements{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/announcement.css' %}">

{% endblock %}
{% block content %}
<!-- Header Section -->
<div class="section-header" style="background-image: url('{% static 'Home/cardbacground.jpg' %}');">
  <div class="container">
    <h1 class="display-5 fw-bold">Announcements</h1>
    <p class="lead">Latest updates and spiritual activities from our temple community</p>
  </div>
</div>

<!-- Announcements Section -->
<div class="container py-5">
  <div class="row g-4" id="announcement-container">
    {% for a in announcements %}
    <div class="col-12 col-md-6 col-lg-4 announcement-item">
      <div class="announcement-card">
        <div class="announcement-title">{{ a.title|title }}</div>
        <div class="announcement-date">{{a.location}}, {{ a.date|date:"F d, Y" }}</div>
        {% if a.slug %}
        <div class="announcement-link">
          <a href="{{ a.slug }}" target="_blank">Know More</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="text-center mt-4">
    <button id="loadMoreBtn" class="btn btn-outline-dark px-4 py-2">Load More</button>
  </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'js/announcement.js' %}"></script>
{% endblock %}